*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-100 {
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

body {
    font-family: 'Work Sans', sans-serif;
    /* background-color: #FFF9FC; */
}

:root {
    --pink: #F948B2;
    --pink-2: #FF42A5;
    --light-blute: #8758F1;
    --light-aqua: #4EC5F7;
    --text-description: #534C64;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.125em;
    color: #534C64;
}

a {
    text-decoration: none;

}

ul,
li {
    list-style: none;
}

.global-btn-pink {
    display: inline-block;
    padding: 20px 40px;
    border-radius: 100px;
    background-color: #FF42A5;
    font-size: 1.25em;
    color: #fff;
    text-transform: uppercase;

}

.global-btn-l-blue {
    display: inline-block;
    padding: 20px 40px;
    border-radius: 100px;
    background-color: #4EC5F7;
    font-size: 1.25em;
    color: #fff;
    text-transform: uppercase;

}

.text-gradient {
    background-image: linear-gradient(180deg, var(--pink), var(--light-blute));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*===============================min width  575px==================================*/
@media (min-width:576px) {
    .container {
        width: 540px;
        margin: 0 auto;
    }
}

/*===============================min width  768px==================================*/
@media (min-width:768px) {
    .container {
        width: 720px;
        margin: 0 auto;
    }
}

/*===============================min width  992px==================================*/
@media (min-width:992px) {
    .container {
        width: 960px;
        margin: 0 auto;
    }

}

/*===========================min width  1200px==================================*/
@media (min-width:1200px) {
    .container {
        width: 1140px;
        margin: 0 auto;
    }
}


/*================================min width  1400px==================================*/
@media (min-width:1400px) {
    .container {
        width: 1320px;
        margin: 0 auto;
    }
}

/* #######################################################
                   min media 
 #######################################################  */


/*===========================max width  576px==================================*/
@media (max-width:576px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}

/*==============================max width  320px==================================*/
@media (max-width:320px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
}